.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  border-bottom-left-radius: 3.25rem;
  border-bottom-right-radius: 3.25rem;
  overflow: hidden;
  font-family: magistral, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 1.25rem;
}

.heroVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headerOpacity {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.headerContent {
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 2;
}

.bookLogo {
  width: 20rem;
  margin-bottom: 0.5rem;
}

.headerText {
  font-family: magistral, sans-serif;
  font-weight: 700;
  font-style: italic;
}

.h1 {
  font-family: magistral, sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #2B007B;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-shadow:
      -1px -1px 0 #fff,
      0   -1px 0 #fff,
      1px -1px 0 #fff,
      1px  0   0 #fff,
      1px  1px 0 #fff,
      0    1px 0 #fff,
      -1px  1px 0 #fff,
      -1px  0   0 #fff;
}

.sectionHeader {
  margin-left: .75rem;
  margin-bottom: .75rem;
  font-weight: 500;
  position: relative;
}

.sectionHeader::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 98%;
  height: 3px;
  background: #00f;
  border-top-right-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.bookList {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-bottom: 1.25rem;
  gap: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  gap: 1.25rem;
}

.bookList::-webkit-scrollbar {
  display: none;
}

.tile {
  min-width: 220px;
  flex-grow: 1;
}

.tileImg {
  width: 100%;
  border-radius: 10%;
}

.tile:nth-of-type(1) {
  margin-left: 1.25rem;
}

.tile:nth-last-of-type(1) {
  margin-right: 1.25rem;
}

.characterList {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-bottom: 1.25rem;
  gap: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  gap: 1.25rem;
}

.characterList::-webkit-scrollbar {
  display: none;
}

.characterTile {
  min-width: 220px;
  flex-grow: 1;
}

.characterTileImg {
  width: 100%;
  border-radius: 100%;
}

.characterTile:nth-of-type(1) {
  margin-left: 1.25rem;
}

.characterTile:nth-last-of-type(1) {
  margin-right: 1.25rem;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
  }

  .headerVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .headerContent {
    top: 23.5%;
  }

  .bookLogo {
    width: 10rem;
    margin-bottom: 0.25rem;
  }

  .h1 {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
  }

}

.phaseTwoList {
  overflow: hidden;
}

.search > a > img {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

